body {
	font-family: 'Roboto', sans-serif;
}

a:hover {
	text-decoration: none;
}

/*  ------------------------- NAVBAR -----------------------  */
.navbar {
	background: #fff;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
	min-height: 80px;
}

.nav-link {
	color: #3c3c3c;
	font-weight: 500;
}

.nav-link:hover {
	color: #0062cc;
}

.logo {
	min-width: 160px;
	max-width: 180px;
}

.navbar-toggler {
	font-size: 40px;
}

.navbar-toggler:focus {
	outline: none;
}

/*  ------------------------- BANNER -----------------------  */

#banner {
	background: url('../img/banner2.jpg');
	background-position: center;
	padding-top: 200px;
	height: 1080px;
	color: #fff;
}

.banner-content {
	padding: 10% 0;
	text-align: center;
}

.title-banner {
	font-size: 66px;
	font-weight: 700;
	padding-bottom: 30px;
}

.paragraph-banner {
	font-size: 24px;
	font-weight: 400;
	padding-bottom: 40px;
}

#banner .btn {
	color: #fff;
	padding: 10px 100px;
	font-size: 22px;
	font-weight: 500;
	background: rgba(255, 255, 255, .3);
	border: 1.5px solid #fff;
}

#banner .btn:hover {
	color: rgba(0, 0, 0, .8);
	cursor: pointer;
	background: #fff;
}

/*  ------------------------- PORTFOLIO -----------------------  */
#portfolio {
	text-align: center;
	padding: 0 0 60px 0;
}

#portfolio .title {
	margin-bottom: 30px;
	font-size: 48px;
	font-weight: 400;
	padding: 0 10%;
}

#portfolio .resume {
	font-weight: 400;
	font-size: 18px;
	padding: 0 5%;
	margin-bottom: 100px;
}

#portfolio .portfolio-container {
	position: relative;
	overflow: hidden;
	border-radius: 2px;
	margin: 0;
	transition: all .4s;
}

#portfolio .portfolio-container:hover {
	box-shadow: 0 0 8px 5px rgba(0, 0, 0, .3);
}

#portfolio .portfolio-container img {
	transition: .4s;
	z-index: 0;
}

#portfolio .portfolio-container:hover img {
	cursor: pointer;
}

#portfolio .portfolio-container.one {
	margin: 0 4% 10% 10%;
}

#portfolio .portfolio-container.two {
	margin: 0 10% 10% 4%;
}

#portfolio .portfolio-container.three {
	margin: 0 4% 0 10%;
}

#portfolio .portfolio-container.four {
	margin: 0 10% 0 4%;
}

#portfolio .portfolio-details {
	position: absolute;
	bottom: 0;
	left: 4%;
}

#portfolio .portfolio-details a h2 {
	margin-bottom: 0;
	border-radius: 5px 5px 0 0;
	padding: 5px 10px 0 10px;
}

#portfolio .portfolio-details a p {
	border-radius: 0 0 5px 5px;
	padding: 0 10px 5px 10px;
}

#portfolio .portfolio-details a h2,
#portfolio .portfolio-details a p {
	color: #fff;
	background: rgba(0, 0, 0, .3);
}

#portfolio .extra-info p {
	font-weight: 600;
	color: rgba(0, 0, 0, .7);
	margin-bottom: 8px;
}

#portfolio .extra-info .care {
	font-weight: 400;
	color: #007bff;
}

/*  --------------------------- TEAM -------------------------  */

#team {
	background: #f5f5f5;
	padding: 60px 0;
}

#team .title {
	margin-bottom: 30px;
	font-size: 48px;
	font-weight: 400;
}

#team .resume {
	font-weight: 400;
	font-size: 18px;
	margin-bottom: 100px;
}

#team .member-container {
	margin: 10px 0;
	transition: .6s;
	text-align: center;
	position: relative;
	width: 100%;
}

#team .member-details {
	transition: all .6s;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 10%;
	opacity: 0;
	width: 80%;
	padding: 10px;
}

#team .member-container .member-details ul {
	margin-bottom: 0;
	padding-bottom: 0;
}

#team ion-icon {
	color: #000;
	font-size: 20px;
	margin-top: 5px;
}

#team ion-icon:hover {
	color: rgba(0, 0, 0, .85);
}

#team .member-container:hover {
	cursor: pointer;
	box-shadow: 0 0 10px 0;
	transition: .6s;
}

#team .member-container:hover .member-details {
	opacity: 1;
	background: rgba(255, 255, 255, .4);
	border-radius: 5px;
}

/*  --------------------------- PLANS -------------------------  */

#our-plans {
	padding: 60px 0;
	text-align: center;
}

#our-plans .title {
	margin-bottom: 30px;
	font-size: 48px;
	font-weight: 400;
}

#our-plans .plan {
	padding: 20px 0;
	margin: 10px 0;
}

#our-plans .plan h4 {
	font-size: 30px;
}

#our-plans .plan h3 {
	font-size: 45px;
	font-weight: 500;
	padding: 10px;
}

#our-plans .plan span {
	font-size: 16px;
	font-weight: 500;
}

#our-plans .plan .content {
	font-size: 25px;
}

#our-plans .plan ul {
	list-style: none;
	font-size: 18px;
	padding-right: 30px;
}

#our-plans .plan ul li {
	padding: 15px 0;
}

#our-plans .plan ul li:last-child {
	border-bottom: none;
}

#our-plans .plan .btn {
	border-radius: 0;
	padding: 10px 60px;
	margin: 10px 0;
}

/*BASIC PLAN*/

#our-plans .plan.basic {
	border: 2px solid #1a1a1a;
	background: #fff;
}

#our-plans .plan.basic ul li {
	border-bottom: 1px solid #1a1a1a;
}

#our-plans .plan.basic .btn {
	background: #1a1a1a;
	color: #fff;
	border: 2px solid #1a1a1a;
	font-weight: 500;
}

#our-plans .plan.basic .btn:hover {
	background: #8e8e8e;
	color: #1a1a1a;
}

/*STANDARD PLAN*/

#our-plans .plan.standard {
	border: 2px solid #1a1a1a;
	background: #1a1a1a;
	color: #fff;
}

#our-plans .plan.standard ul li {
	border-bottom: 1px solid #fff;
}

#our-plans .plan.standard .btn {
	background: #fff;
	color: #1a1a1a;
	border: 2px solid #fff;
	font-weight: 500;
}

#our-plans .plan.standard .btn:hover {
	background: #3f3f3f;
	color: #fff;
}

/*PREMIUM PLAN*/

#our-plans .plan.premium {
	border: 2px solid #1a1a1a;
	background: #d7d7d7;
}

#our-plans .plan.premium ul li {
	border-bottom: 1px solid #1a1a1a;
}

#our-plans .plan.premium .btn {
	background: #4e4e4e;
	color: #fff;
	border: 2px solid #4e4e4e;
	font-weight: 500;
}

#our-plans .plan.premium .btn:hover {
	background: #f6f6f6;
	color: #1a1a1a;
}

/*  --------------------------- TESTIMONIALS -------------------------  */

#testimonials {
	margin-bottom: 30px;
}

#customers-testimonials {
	padding: 40px 0;
}

.testimonial img {
	max-width: 160px;
	margin: 0 auto;
	border: 2px solid white;
	padding: 20px 0;
	margin-bottom: 16px;
	border-radius: 50%;
}

.testimonial blockquote {
	border: 0;
	padding: 5px 150px;
	position: relative;
}

.testimonial blockquote:before,
.testimonial blockquote:after {
	font-size: 80px;
	line-height: 1;
	width: 30px;
	height: 30px;
	position: absolute;
}

.testimonial blockquote::before {
	content: "\201C";
	top: 0;
	left: 100px;
}

.testimonial blockquote::after {
	content: "\201D";
	bottom: 0;
	right: 100px;
}

.testimonial-author p {
	font-size: 18px;
}

.testimonial-author p strong {
	display: block;
}


/*  --------------------------- CONTACT -------------------------  */
#contact {
	background: #f5f5f5;
	padding: 60px 0;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .8);
}

#contact .title {
	margin-bottom: 10px;
	font-size: 28px;
	font-weight: 400;
}

#contact .resume {
	font-weight: 300;
	font-size: 18px;
	color: gray;
}

#contact .form-control {
	font-size: 14px;
	border: 1px solid rgba(0, 0, 0, .3);
	border-radius: 0;
	color: #000;
}

#contact .form-control:focus {
	border: 1px solid #1a1a1a;
	outline: none;
	box-shadow: none;
}

#contact .btn {
	background: #1a1a1a;
	border-radius: 0;
	color: #fff;
}

/*  --------------------------- FOOTER -------------------------  */

#footer {
	background: #1a1a1a;
	padding: 60px 0;
	text-align: center;
	color: #fff;
}

#footer a {
	color: #fff;
}

#footer a:hover {
	color: #0062cc;
}

#footer .list-inline .list-inline-item {
	padding: 40px 15px 20px 15px;
	margin: 0;
}

#footer .list-inline .icons {
	margin: 0;
	padding: 0 20px 5px 20px;
	font-size: 24px;
}

/*  ------------------------- MEDIAQUERIES -----------------------  */
@media screen and (max-width: 522px) {

	#banner {
		padding-top: 110px;
		height: 700px;
		margin-bottom: 60px;
	}

	.title-banner {
		font-size: 40px;
		font-weight: 700;
		padding: 0 10px 10px 10px;
	}

	.paragraph-banner {
		font-size: 16px;
		font-weight: 400;
		padding: 10px;
	}

	#banner .btn {
		padding: 10px 50px;
		font-size: 16px;
	}

	#portfolio .portfolio-details a h2 {
		font-size: 16px;
	}

	#portfolio .portfolio-details a p {
		font-size: 12px;
	}

	#portfolio .portfolio-container.one {
		margin: 0 20px 20px 20px;
	}

	#portfolio .portfolio-container.two {
		margin: 20px;
	}

	#portfolio .portfolio-container.three {
		margin: 20px;
	}

	#portfolio .portfolio-container.four {
		margin: 20px;
	}

	#testimonials {
		display: none;
	}
}

/* SMALL	*/
@media screen and (max-width: 770px) {
	.footer-menu {
		display: block !important;
		padding: 20px 0 !important;
		font-size: 20px;
	}

	#portfolio .portfolio-container.one {
		margin: 0 20px 20px 20px;
	}

	#portfolio .portfolio-container.two {
		margin: 20px;
	}

	#portfolio .portfolio-container.three {
		margin: 20px;
	}

	#portfolio .portfolio-container.four {
		margin: 20px;
	}
}

/*	MEDIUM	*/

@media screen and (max-width: 991px) {
	.nav-link:hover {
		color: #0062cc;
		background: #efefef;
	}

	#portfolio .portfolio-details a h2 {
		font-size: 20px;
	}

	#portfolio .portfolio-details a p {
		font-size: 16px;
	}
}